












.home-section-title{
    font-size: 2.5em;
    text-align: center;
}

.home-section-line-divider{
    width: 75px;
    border-top: 1px solid #EA512F;
    margin-bottom: 3rem;
}

.home-section-image{
    width: 30em;
    height: 30em;
    padding: 16pt;
}

.home-background{
    background-color: rgb(251, 251, 251);
}

/* Global */
.home-section {
    padding: 7rem 0; 
    /* background-color: #333C44; */
}
/* End-Global */

/* company-section */
.company-section {
    /* background-color: rgba(245,245,245); */
}

/* end-company-section */

/* product-section */
.product-section {
    background-color: rgba(245,245,245);
}

    .product-section .product-image{
        width: 15rem;
        margin-left: -7rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    .product-section .product-image-small{
        height: 10rem;
    }

    /* .product-section .product-title{
        font-size: 1.5rem;
        margin-left: 0.8rem;
        vertical-align: top;
        text-align: center;
    } */

    .product-section .product-know-more{
        color: unset !important;
    }


    .product-title {
        position: absolute;
        border-radius: 30px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        background-color: #EA512F;
        color: #FFF;
        padding: 12px 25px;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 2px;
        right: -10px;
        cursor: pointer;
        z-index: 2;
        transition: all .25s ease;
        box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
    }

    .title-box-shadow:after {
        position: absolute;
        content: "";
        right: -10px;
        top: 0.85rem;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #A33C25;
      }

    .product-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3.4rem;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

      .product-btnknowMore{
        color: black;
        width: 100%;
    }

    /* .product-section .product-title:after{
        position: absolute;
        content: '';
        border-bottom: 1px solid #ea512f;
        width: 20%;
        transform: translateX(-50%);
        top: 4.8rem;
        left: 50%;
    } */
/* end-product-section */

/* history-section */
.history-section {
    background-color: #09162a;
    /* background-color: #333C44; */
}

.history-section .img-overlap {
    margin-top: -150px; 
}

.history-box{
    border: 2px #EA512F solid;
    height: 100%;
}

.history-box-title{
    padding: 0.2em 18px;
    font-size: 1.6rem;
    font-weight: bold;
    width: fit-content;
}

.history-box-tex{
    padding: 0.5em 18px;
    color: white;
    display: block;
}
/* end-history-section */

/* newsletter-section */
.newsletter-section{
    /* background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.2) 80%,#161616eb 100%),url(../../assets/grassField.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.newsletter-section .newsletter-box{
    background-color: white;
    border-radius: 20px;
    opacity: 0.9;
}

.newsletter-email{
    box-shadow: 0.1875rem rgba(0,0,0,.1)!important;
    padding: 1.25rem 2rem;
    height: auto;
    /* font-family: 'Varela Round'; */
    font-size: 80%;
    /* text-transform: uppercase; */
    letter-spacing: .15rem;
    border: 0;
}

/* .newsletter-subscribe{
    box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
    border-radius: 30px;
    background-color: #EA512F;
} */

.newsletter-subscribe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #EA512F;
    border-radius: 25px;
    border-color: #EA512F;
    color: #EA512F;

    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    /* box-shadow: 0 10px 30px 0px rgba(122, 118, 119, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(122, 118, 119, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(122, 118, 119, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(122, 118, 119, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(122, 118, 119, 0.5); */
}

.newsletter-subscribe i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.newsletter-subscribe:hover {
    background-color: #999999;
    box-shadow: 0 10px 30px 0px #999999;
    -moz-box-shadow: 0 10px 30px 0px #999999;
    -webkit-box-shadow: 0 10px 30px 0px #999999;
    -o-box-shadow: 0 10px 30px 0px #999999;
    -ms-box-shadow: 0 10px 30px 0px #999999;
    border: none;
}

.newsletter-subscribe:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}
/* end-newsletter-section */










