<!-- Hero unit -->
<div class="hero">
    <div class="hero__overlay hero__overlay--gradient"></div>
    <div class="hero__mask"></div>
    <div class="hero__inner">
        <div class="container">
            <div class="hero__content">
                <div class="hero__content__inner" id='navConverter'>
                    <!-- <h1 class="hero__title lax" data-lax-preset="zoomInOut blurOut">A production-ready theme for your projects</h1>
                    <p class="hero__text lax" data-lax-preset="spin fadeInOut">Evie is an MIT licensed template bundled with a minimal style guide to build websites faster. It is extemely lightweight, customizable and works perfectly on modern browsers.</p>
                    <a href="#" class="button button__accent">Download Evie</a>
                    <a href="#" class="button hero__button">Learn more</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero__sub">
    <span id="scrollToNext" class="scroll">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
    </span>
</div>

<!-- Section-Company -->
<div class="home-section company-section">
    <div class="container">
        <h2 class="home-section-title">Quem Somos</h2>
        <hr class="home-section-line-divider">
    </div>
    <div class="container mb-5">
        <div class="col-12 row d-flex">
            <div class="col-2"></div>
            <div class="col-8">
                <h4 class="m-0 mt-4">A <strong>MASSIL</strong> é uma empresa especializada na produção de máquinas e alfaias agrícolas de alta qualidade, com uma vasta experiência e história no setor agrícola. A qualidade dos nossos produtos e o nosso compromiso em agradar o cliente são os nossos principais fatores diferenciadores.<!--  <a routerLink="/sobre">Saber mais -></a> --></h4>
                <img src="../../assets/Home.PNG" class="expanded__image">
                <span>O video da massil que estava no outro site??</span>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<!-- End-Section-Company -->

<!-- Section-History -->
<div class="home-section history-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="../../assets/homeWelder.jpg" alt="Image " class="img-fluid img-overlap">
            </div>
            <div class="col-lg-5 ml-auto">
                <h2 class="massil-color mt-0">Mais de <strong>30 anos</strong> de experiência e de inovação</h2>
                <p class="text-white">A MASSIL foi fundada em Abril de 1989 pelo seu principal protagonista
                    Manuel Lopes Silva,
                    e desde então tem apostado num crescimento sustentado na qualidade, na inovação 
                    e principlamente na satisfação dos seus clientes.
                </p>
            </div>
            <div class="col-12 d-flex mt-5 p-0">
                <div class="col-4">
                    <fieldset class="history-box">
                        <legend class="history-box-title massil-color">Conhecimento</legend>
                        <span class="history-box-tex">
                            Os nossos profissionais possuem o conhecimento necessário para enfrentar 
                            facilmente os desafios diários que a empresa lhes apresenta, 
                            sendo uma parte ativa da inovação da empresa e do sector.
                        </span>
                    </fieldset>
                </div>
                <div class="col-4">
                    <fieldset class="history-box">
                        <legend class="history-box-title massil-color">Qualidade</legend>
                        <span class="history-box-tex">
                            Os nossos produtos são rigorosamento inspecionados desde o início da produção até ao produto final,
                            porque acreditamos que a qualidade é um dos principais fatores responsáveis pela satisfação dos nossos clientes.
                        </span>
                    </fieldset>
                </div>
                <div class="col-4">
                    <fieldset class="history-box">
                        <legend class="history-box-title massil-color">Rapidez</legend>
                        <span class="history-box-tex">
                            Os nossos profissionais possuem o conhecimento necessário para enfrentar 
                            facilmente os desafios diários que a empresa lhes apresenta, 
                            sendo uma parte ativa da inovação da empresa e do sector.
                        </span>
                    </fieldset>
                </div>
                    
            </div>
        </div>
    </div>
</div>
<!-- End-Section-History -->

<!-- Section-Products -->
<div class="home-section product-section">
    <div class="container">
        <h2 class="home-section-title mt-0">Produtos</h2>
        <hr class="home-section-line-divider">
        <div class="d-flex mb-5">
            <div class="col-md-5 d-flex shadow-lg bg-white rounded pb-4 pt-4">
                <div class="w-100 h-100 d-flex title-box-shadow">
                    <img src="../../assets/carregador.png" class="product-image" alt="Image">
                    <span class="product-title mb-4 m-0">
                        Carregadores Frontais
                    </span>
                    <div class="col product-description">
                        <ul class="mt-4 mb-4 p-0" style="list-style-type:none">
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                4 CILINDROS DUPLO EFEITO
                            </li>
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                MONTAGEM COMPACTA
                            </li>
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                A PARTIR DOS 50 CV
                            </li>
                        </ul>
                        <button class="border-0 p-0 product-btnknowMore">
                            <span class="float-right">
                                Saber mais
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 d-flex shadow-lg bg-white rounded pb-4 pt-4">
                <div class="w-100 h-100 d-flex title-box-shadow">
                    <img src="../../assets/monocoque.png" class="product-image product-image-small" alt="Image">
                    <span class="product-title mb-4 m-0">
                        Reboques
                    </span>
                    <div class="col product-description">
                        <ul class="mt-4 mb-4 p-0 m-0" style="list-style-type:none">
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                4 CILINDROS DUPLO EFEITO
                            </li>
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                MONTAGEM COMPACTA
                            </li>
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                A PARTIR DOS 50 CV
                            </li>
                        </ul>
                        <button class="border-0 p-0 product-btnknowMore">
                            <span class="float-right">
                                Saber mais
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div> 
        <div class="d-flex mb-5">
            <div class="col-md-5 d-flex shadow-lg bg-white rounded pb-4 pt-4">
                <div class="w-100 h-100 d-flex title-box-shadow">
                    <img src="../../assets/carregador.png" class="product-image" alt="Image">
                    <span class="product-title mb-4 m-0">
                        Cisternas
                    </span>
                    <div class="col product-description">
                        <ul class="mt-4 mb-4 p-0" style="list-style-type:none">
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                4 CILINDROS DUPLO EFEITO
                            </li>
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                MONTAGEM COMPACTA
                            </li>
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                A PARTIR DOS 50 CV
                            </li>
                        </ul>
                        <button class="border-0 p-0 product-btnknowMore">
                            <span class="float-right">
                                Saber mais
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 d-flex shadow-lg bg-white rounded pb-4 pt-4">
                <div class="w-100 h-100 d-flex title-box-shadow">
                    <img src="../../assets/monocoque.png" class="product-image" alt="Image">
                    <span class="product-title mb-4 m-0">
                        Alfaias Agrícolas
                    </span>
                    <div class="col product-description">
                        <ul class="mt-4 mb-4 p-0" style="list-style-type:none">
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                4 CILINDROS DUPLO EFEITO
                            </li>
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                MONTAGEM COMPACTA
                            </li>
                            <li class="mt-1 mb-1" style="font-family: Open Sans,sans-serif;"><i class="fa fa-check-circle" aria-hidden="true" style="color: rgba(234, 81, 47);margin-right: 0.5rem;"></i>
                                A PARTIR DOS 50 CV
                            </li>
                        </ul>
                        <button class="border-0 p-0 product-btnknowMore">
                            <span class="float-right">
                                Saber mais
                                <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End-Section-Products -->

<!-- Section-Newsletter -->
<!-- <div class="home-section newsletter-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center p-5 newsletter-box">
            <i class="fa fa-paper-plane-o fa-2x mb-2 massil-color"></i>
            <h2 class="">Receba noticias nossas!</h2>
            <hr class="home-section-line-divider">
            <div class="form-inline d-flex">
                <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 newsletter-email" 
                placeholder="Inserir email" 
                [(ngModel)]="subscribeEmail.email">
                <button class="btn btn-primary mx-auto newsletter-subscribe" (click)="onSubscribe()">
                    <span>
                        Subscribe
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End-Section-Newsletter -->


