<div class="page product-page">
    <div class="container">
        <h2 class="text-center">Produtos</h2>
        <hr class="page-divider">
        <div class="col-12 d-flex mt-5 p-0">
            <div class="container">
                <div class="row">
                   <div class="col-lg-6">
                      <div class="product-left">
                         <img src="assets/img/teste.png" alt="about" class="product-img">
                      </div>
                   </div>
                   <div class="col-lg-6">
                      <div class="product-right">
                         <div class="product-heading">
                            <h4 class="product-title">Sobre o produto</h4>
                            <h2 class="product-subTitle">Awesome digital product can make your life easier</h2>
                            <span class="product-divider"></span>
                         </div>
                         <p class="product-description">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
                         <p class="product-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.Donec nec justo eget felis facilisis fermentum.</p>
                         <ul class="product-list">
                            <li class="product-list-content"> Wireless Connection Headphones</li>
                            <li class="product-list-content"> High-quality audio with DSEE HX™ and LDAC.</li>
                            <li class="product-list-content"> Noise Cancelling without distractions.</li>
                            <li class="product-list-content"> Wireless freedom with BLUETOOTH</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
        </div>
    </div>
</div>