<div class="page gallery-page">
    <h2 class="text-center">Galeria</h2>
    <hr class="page-divider">

    <div class="container pt-md-5">
        <!-- <ul class="portfolio-categ filter mb-md-5 mb-4 p-0 justify-content-center">
            <li class="port-filter all active">
                <a href="#">All</a>
            </li>
            <li class="cat-item-1">
                <a href="#" title="Category 1">Nature</a>
            </li>
            <li class="cat-item-2">
                <a href="#" title="Category 2">Fashion</a>
            </li>
            <li class="cat-item-3">
                <a href="#" title="Category 3">Wedding</a>
            </li>
            <li class="cat-item-4">
                <a href="#" title="Category 4">Studio</a>
            </li>
        </ul> -->

        <ul class="gallery-area clearfix p-0 m-0">
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p1.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p1.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p2.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p2.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p3.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p3.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p4.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p4.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p5.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p5.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p6.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p6.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p7.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p7.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p8.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p8.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
            <li class="content">
                <span class="image-block">
                    <a href="assets/img/gallery/p9.jpg">
                        <div class="content-overlay"></div>
                        <img src="assets/img/gallery/p9.jpg" class="img-fluid" alt="">
                        <div class="content-details fadeIn-bottom">
                            <!-- <h3 class="content-title">This is a title</h3> -->
                        </div>
                    </a>
                </span>
            </li>
        </ul>
    </div>


    
    <!-- <div class="col-12 d-flex mt-5 p-0">
        <div class="col-8 p-0">
            <div class="contact-map">
                <iframe width="100%" height="500" src="https://maps.google.com/maps?q=massil&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
        <div class="col-4 p-0 border-top border-bottom">
            <div class="contact-box">
                <div class="row mt-4 justify-content-center">
                    <div class="contact-information">
                        <img src="/assets/img/phone.svg" alt="" class="contact-icon">
                        <span class="contact-information-title">Telemóvel</span>
                    </div>
                    <p class="contact-information-subtitle">(+351) 252 951 399</p>
                </div>
                <div class="row mt-4 justify-content-center">
                    <div class="contact-information">
                        <img src="/assets/img/fax.svg" alt="" class="contact-icon">
                        <span class="contact-information-title">Fax</span>
                    </div>
                    <p class="contact-information-subtitle">(+351) 252 951 399</p>
                </div>
                <div class="row mt-4 justify-content-center">
                    <div class="contact-information">
                        <img src="/assets/img/envelope.svg" alt="" class="contact-icon">
                        <span class="contact-information-title">Geral</span>
                    </div>
                    <p class="contact-information-subtitle">
                        <a href="mailto:massil@massil.pt">massil@massil.pt</a>
                    </p>
                </div>
                <div class="row mt-4 justify-content-center">
                    <div class="contact-information">
                        <img src="/assets/img/envelope.svg" alt="" class="contact-icon">
                        <span class="contact-information-title">Dep. Comercial</span>
                    </div>
                    <p class="contact-information-subtitle">
                        <a href="mailto:dep.comercial@massil.pt">dep.comercial@massil.pt</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container contact-margin">
        <div class="col-12 d-flex">
            <div class="col-1"></div>
            <div class="col-10 d-flex shadow-lg p-5 mb-5 bg-white rounded">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h2 class="text-center mt-2">Fale connosco</h2>
                        <hr class="contact-divider">
                        <form [formGroup]="contactForm" class="contact-form mt-5">
                            <div class="col-6 pr-3">
                                <div class="contact-field">
                                    <span class="contact-field-title">Nome<span class="global-color"> *</span></span>
                                    <input class="contact-field-input" formControlName="name" type="text">
                                    <span class="contact-focus-input"></span>
                                </div>
                            </div>
    
                            <div class="col-6 pl-3">
                                <div class="contact-field">
                                    <span class="contact-field-title">Email<span class="global-color"> *</span></span>
                                    <input class="contact-field-input" formControlName="email" type="text">
                                    <span class="contact-focus-input"></span>
                                </div>
                            </div>
    
                            <div class="col-6 pr-3">
                                <div class="contact-field">
                                    <span class="contact-field-title">Assunto<span class="global-color"> *</span></span>
                                    <input class="contact-field-input" formControlName="subject" type="text">
                                    <span class="contact-focus-input"></span>
                                </div>
                            </div>
    
                            <div class="col-6 pl-3">
                                <div class="contact-field">
                                    <span class="contact-field-title">Telemóvel</span>
                                    <input class="contact-field-input" formControlName="phone" type="text">
                                    <span class="contact-focus-input"></span>
                                </div>
                            </div>
    
                            <div class="col-12 pl-3 pr-3">
                                <div class="contact-field">
                                    <span class="contact-field-title">Mensagem<span class="global-color"> *</span></span>
                                    <textarea class="contact-field-input" formControlName="message" type="text"></textarea>
                                    <span class="contact-focus-input"></span>
                                </div>
                            </div>
                            <div class="contact-container-btn">
                                <re-captcha (resolved)="resolvedCaptcha($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
                            </div>

                            <div class="contact-container-btn">
                                <button class="contact-btn" (click)="onSend()">
                                    <span>Contactar</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-2"></div>
            </div>
            <div class="col-1"></div>
        </div>
    </div> -->

</div>